@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Jones Website</h1>
    <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Click here to learn how to code like this!</a>
</div>
